<div class="weaponf">  
  <!--<p>
    <b>Id:</b>
    %= weapon.id %
  </p>-->

  <p>
    <h2><%= weapon.name %></h2>
  </p>
  
  <p>
    <b>Reload Time:</b>
    <%= weapon.reloadtime %>
  </p>
  
  <p>
    <b>Fire Rate:</b>
    <%= weapon.firerate %>
  </p>
  
  <p>
    <b>Magazine Size:</b>
    <%= weapon.magazinesize %>
  </p>
  
  <p>
    <b>Damage:</b>
    <%= weapon.damage %>
  </p>
  <p>
    <b>Type:</b>
    <%= weapon.type.name %>
  </p>
  
  
  <p>
    <% if weapon.image.present? %>
      <p>
        <%= image_tag weapon.image %>
      </p>
    <% else %>
      <p class="no_image">
        <em>No weapon image.</em>
      </p>
    <% end %>
  </p>
  
  <!--<p>
    <b>Created at:</b>
    %= weapon.created_at %
</p>-->
</div>